.card {
    width: 33%;
    >img{
        width: 100%;
        height: 30vh;

    }
}


a {
    cursor: pointer;
    background-color: burlywood !important;
    transition: all 2s !important;
    opacity: .4;
    &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5) !important;
        scale: 1.2;
        border-radius: 25%;
        border: none;
    }
}

.card-title::first-letter {
    font-size: x-large;
    color: darkorange;
    font-weight: 800;
    letter-spacing: 5px;
    
}